:root {
    --galacticc-void-1: #06070a;
    --galacticc-metal-1: #161e35;
    --galacticc-metal-2: #0b0d13;
    --galacticc-starshine-1: rgb(245,242,240);
    --galacticc-starshine-2: rgb(245,244,243);
    --galacticc-event-horizon-1: rgb(235, 182, 67);
    --galacticc-event-horizon-2: rgb(230, 204, 150);
    --galacticc-event-horizon-3: rgb(235, 120, 67);
    --galacticc-deep-space-1: rgb(76, 24, 199);
    --galacticc-deep-space-1a: rgba(76, 24, 199,0.3);
    --galacticc-nebula-1: rgb(41, 82, 214);
    --galacticc-nebula-1a: rgba(41, 82, 214, 0.3);
    --galacticc-greenery-1: #1faa0d;
}

@font-face {
    font-family: Goldman;
    src: url(Goldman-Regular.ttf);
}

@font-face {
    font-family: Goldman-Bold;
    src: url(Goldman-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Montserrat-EL;
    src: url(Montserrat-ExtraLight.ttf);
}

@font-face {
    font-family: Montserrat-L;
    src: url(Montserrat-Light.ttf);
}
html{
    height: 100%;
}

html, body {
    background-color: var(--galacticc-metal-1);
    z-index: 0;
    margin: 0;
}

body {
    display: grid;
    min-height:100%;
    grid-gap: 10px;
    grid-template-areas: "header" "main" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 11rem;
}

header {
    position:sticky !important;
    top: 0px;
    background-color: var(--galacticc-void-1);
    grid-area: header;
    container: site-header / inline-size;
    z-index: 3;
}

#site-header {
    color: var(--galacticc-starshine-2);
    font-family: Goldman;
    font-size: 300%;
    padding-left:1.2rem;
    padding-right:1.2rem;
    margin-top:0.7rem;
    margin-bottom:0.7rem;
    margin-bottom:0.7rem;
    white-space:nowrap;
}

@container site-header (width < 464px){
    #site-header{
        font-size: 265%;
    }
}

@container site-header (width < 400px){
    #site-header{
        font-size: 235%;
    }
    
}
@media screen and (max-width:530px) {  
    .check-container-img{
        display: none;
    }
}

#page-header {
    color: var(--galacticc-event-horizon-1);
    font-family: Montserrat-EL;
    font-size: 2.5rem;
    margin-top: 5rem;
    margin-bottom: 0.5rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    text-wrap: wrap;
    opacity: 1.0;
    max-width: 40rem;
    animation: 1s ease-out 0s 1 headerLoad;
}

@keyframes headerLoad {
    0% {
        opacity: 0;
        transform: translateX(10%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
  }

main {
    grid-area: main;
    padding-left:0.7rem;
    padding-right:0.7rem;
    container: main-page / inline-size;
    z-index: 2;
}

#main-page-container {
    display: flex;
    flex-flow: column wrap;
    justify-content:space-around;
    column-gap: 1%;
    z-index:inherit;
}

.main-page-header-container {
    order: 1;
    border: 2px solid var(--galacticc-nebula-1);
    border-radius: 15px;
    background-image: url(triangles-download-header.svg);
}

.main-page-header-container:hover > #page-header{
    opacity: 1.0;
}

.main-page-content-container {
    order: 2;
    display: flex;
    flex-flow: column wrap;
    justify-content:space-around;
    column-gap: 1%;
    padding-left:3rem;
    padding-right:3rem;
}

.main-page-important-info-container {
    background-color: var(--galacticc-deep-space-1a);
    border-radius: 20px;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
}

.main-page-important-info-container-EMPHASIS {
    background-color: var(--galacticc-deep-space-1a);
    border-radius: 20px;
    border-color: var(--galacticc-nebula-1);
    border-width: 3px;
    border-style: solid;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
}

.main-page-check-container {
    background-color: var(--galacticc-nebula-1a);
    border-radius: 20px;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
}

.main-page-check-container-EMPHASIS {
    background-color: var(--galacticc-nebula-1a);
    border-radius: 20px;
    border-color: var(--galacticc-greenery-1);
    border-width: 3px;
    border-style: solid;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
}
/*Update for flex grid*/
.check-container-img {
    margin-left: 1.5rem;
    padding-top: 2rem;
    width: 4rem;
    float:left;
}

.main-page-info-hover-container {
    zoom:1;
    -moz-transform: scale(1);
    transition: all 0.5s ease;
}

.main-page-info-hover-container:hover {
    transform: scale(1.0125);
    -moz-transform: scale(1.0125);
}

.main-page-content-block-container {
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: var(--galacticc-starshine-2);
    font-family: Montserrat-L;
    font-size: 1.1rem;
}

.inner-important-info-content {
    margin-left: 1.2rem;
    margin-right: 1.2rem;
}
.inner-check-content {
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    padding-left: 5rem;
}
.main-page-content-block-content {
    margin-bottom: 1.5rem;
}
.checkout-list{
    list-style:circle;
}

@media screen and (max-width:530px) {
    .inner-check-content{
        padding:0px;
    }
}
p {
    margin-top: 0px;
    margin-bottom: 0px;
}

a:link {
    color: var(--galacticc-event-horizon-1);
}

a:visited {
    color: var(--galacticc-event-horizon-3);
}

a:hover {
    color: var(--galacticc-event-horizon-2);
}

a:active {
    color: var(--galacticc-starshine-2);
}

.content-block-section-header-big {
    font-size: xx-large;
    font-weight: 200;
}

.content-block-section-header-big-color {
    font-size: xx-large;
    font-weight: 200;
    color: var(--galacticc-event-horizon-1);
}

#featured-promo-video{
    border-radius: 20px;
}

.content-block-split-media-flex {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(335px, 0.5fr));
}

.split-media-m-block {
    text-align: center;
}

.split-media-c-block {
    text-align: inherit;
}

@container main-page (width < 431px){
    .main-page-content-container {
        padding-left:1.3rem;
        padding-right:1.3rem;
    }
    .split-media-m-block {
        text-align: left;
    }
}


footer {
    background: linear-gradient(0deg, var(--galacticc-void-1) -50%, var(--galacticc-deep-space-1) 600%);
    text-align: center;
    grid-area: footer;
    height: 14rem;
    z-index: 2;
}

#footer-logo {
    width: 10%;
    min-width:75px;
    max-width: 100px;
}

#footer-hr {
    margin-bottom: 2rem;
    border-color: var(--galacticc-metal-2);
    width: 95%;
}

.footer-text {
    color: var(--galacticc-starshine-1);
    margin-bottom: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

#bg-img {
    position: fixed;
    filter: hue-rotate(20deg);
    right: 0;
    bottom: 0;
    z-index: 1;
    min-width: 100%;
    min-height: 100%;
}

#bg-logo-img {
    position: fixed;
    opacity: 0.05;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    z-index: 1;
    height:auto;
    width: 100%;
}

#footer-info {
    background-color: black;
    color: white;
    margin-left: 15%;
    margin-right: 15%;
    transform: skew(45deg);
}

#footer-socials {
    position: inherit;
    transform: skew(-45deg);
}

.footer-social-emphasis {
    background-color:var(--galacticc-event-horizon-1);
    height: 2px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#fse-1 {
    margin-left: 85%;
    transform: translateY(0.3rem);
}

#fse-2 {
    margin-right: 85%;
    transform: translateY(-0.3rem);
}
 
.footer-social-thumbnail {
    max-width: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 8px;
    padding-right: 8px;
    zoom:1;
    -moz-transform: scale(1);
    transition: all 0.5s ease-out;
}

.footer-social-thumbnail:hover {
    transform: scale(1.075);
    -moz-transform: scale(1.075);
}

#x-logo-correction{
    max-width: 22px;
    position: relative;
}
